.chat-app {
  display: flex;
  height: 100vh;
}

.chat-app__sidebar {
  width: 25%;
  background-color: #f1f1f1;
  padding: 20px;
}

.selected {
  background-color: lightblue
}

.chat-app__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.chat-app__list-item {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #fff;
  cursor: pointer;
}

.chat-app__list-item:hover {
  background-color: #f9f9f9;
}

.chat-app__chat-section {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.chat-app__chat-header {
  background-color: #f1f1f1;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
}

.chat-app__chat-content {
  flex: 1;
  padding: 20px;
  overflow-y: scroll;
}

.chat-app__message {
  margin-bottom: 20px;
}

/* Responsive Styles */

@media (max-width: 768px) {
  .chat-app {
    flex-direction: column;
  }

  .chat-app__sidebar {
    width: 100%;
  }
}
